.App {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 45px;
    margin: 10px 5px 0 10px;
    align-items: start;
}
@media (max-width: 900px) {
    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}  
.editor-wraper, .preview-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.head{
  width: 100%;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  background-color: #4aa3a3;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  /* padding: 1px; */
}
#editor, #preview{
  margin-top: -10px;
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}
@media (max-width: 900px){
  .editor-wraper, .preview-wrapper{
    width: 90%;
  }
}
#editor{
  width: 100%;
}
#preview{
  padding-left: 15px;
  width: 98%;
}


/* Editor */
textarea{
  min-height: 470px;
  cursor: text;
  resize: vertical;
}
/* preview */
#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}
#preview > p > code {
  padding: 3px;
}

#preview code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}
#preview a {
  margin: 10px;
  margin-bottom: 10px;
}
#preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}
#preview h1 {
  border-bottom: 2px solid #224b4b;
}
#preview h2 {
  border-bottom: 1px solid #224b4b;
}
#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}
#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}